<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Home</title>
  </head>
  <body>
    <div id='start-page'>
      <img id='beer-logo' src='/images/beer.png' alt='beer-logo' srcset='' />
      <a href='/beers'>Check the Beers!</a>
      <a href='/random-beer'>Check a Random Beer</a>

    </div>
  </body>
</html>