/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
}
nav {
  height: 70px;
  background-color: #2081c3;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

nav a {
  margin: 0 20px 0 20px;
  color: #f7f9f9;
}

#main {
  background-color: #f7f9f9;
  height: 100%;
}

#start-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 0 20px 0;
}

#start-page a {
  background-color: #2081c3;
  color: black;
  padding: 10px 30px 10px 30px;
  margin: 20px;
  border-radius: 10px;
  border: 5px, solid, black;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  color: white;
}

#beers-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0 20px 0;
}

img {
  height: 300px;
  width: auto;
}

#beer-logo {
  width: 300px;
  height: auto;
}

footer {
  background-color: #0a2c42;
  height: 60px;
  color: #f7f9f9;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  padding: 20px 0 20px 20px;
}

/* link para o layout */
